.Header {
    background-color: #B1EAFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Header .logo {
    cursor: pointer;
    color: #0000FF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.Header .SL {
    display: flex;
    gap: 15px;
}

.Header .Sign, .Header .Login {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    transition: font-weight 0.3s ease;
}

.Header .Sign.active, .Header .Login.active {
    font-weight: bold;
    color: #000000;
}

.Header .logo:hover {
    color: #000000;
}

.Header .Sign:hover, .Header .Login:hover {
    font-weight: bold;
}

.Header .Logout {
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
  }
  
  .Header .Logout:hover {
    color: #cc0000;
  }
  